//Fonts
$font-sens:'DM Sans', sans-serif;
$font-pop:'Poppins', sans-serif;

$primary:#42446E;
$secondary:#666666;
$gradient-right:linear-gradient(to right #33ccff 0%, #ff99cc 100%);
$gradient-bottom:linear-gradient(to bottom #33ccff 0%, #ff99cc 100%);
$gradient-top:linear-gradient(to top #33ccff 0%, #ff99cc 100%);


